/* SignIn.css */

.signin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .alert {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .signup-authdetails-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Add styles for SignUp and AuthDetails components as needed */
  