#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
  margin: 0;
}
@media screen and (max-width: 400px) {
  .container {
    padding: 10px;
  }

  .navbar {
    padding: 15px 0;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-menu {
    flex-direction: row;
    gap: 10px;
}

.nav-menu li {
    gap: 3px;
}

.cart {
    flex-direction: row;
    gap: 10px;
}

.login-cart button {
    width: 100%;
}
  .product-list{
    grid-template-columns: 1fr 1fr ;
  }
  .map {
    grid-template-columns: 1fr 1fr ;
  }

  .cart {
    margin: 10px 0;
  }
  .product-details-sidebar {
    width: 100%;
  }

  .hero {
    height: auto;
    min-height: 100vh; 
}

.hero-left {
    padding-left: 10px; 
}

.hero-left p {
    font-size: 24px; 
}

.hero-hand-icon img {
    width: 50px; 
}

.hero-latest-btn,
.new-collection-btn {
    width: 150px; 
    height: 40px; 
    font-size: 14px; 
    margin-top: 15px; 
}
.hero-right{
    width: 50px; 
}
.hero-right img{
    width: 310px;
}
}